absl-py==2.3.1
aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiosignal==1.4.0
annotated-types==0.7.0
anyio==4.11.0
apex @ file:///opt/pytorch/apex/dist/apex-0.1-cp312-cp312-linux_x86_64.whl#sha256=1eb0353d9b0b773216a4a9bab77e972e5915827656f8aa430c8e465b1252bcf4
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
arrow==1.4.0
asttokens==3.0.0
astunparse==1.6.3
async-lru==2.0.5
attrs==25.4.0
audioread==3.1.0
babel==2.17.0
beautifulsoup4==4.14.2
black==25.9.0
bleach==6.3.0
build==1.3.0
certifi==2025.10.5
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.0
cmake==3.31.6
comm==0.2.3
contourpy==1.3.3
cycler==0.12.1
Cython==3.2.0
datasets==4.4.1
debugpy==1.8.17
decorator==5.2.1
defusedxml==0.7.1
dill==0.4.0
dllist==2.0.0
dm-tree==0.1.9
docstring_parser==0.17.0
einops==0.8.1
execnet==2.1.1
executing==2.2.1
expecttest==0.3.0
fastjsonschema==2.21.2
filelock==3.20.0
flash_attn @ file:///opt/transfer/flash_attn-2.7.4.post1%2B25.11-38114660-cp312-cp312-linux_x86_64.whl#sha256=ae4cfaff7402e07396d1b2eb1960ee4964a1232cc7d9db7f1e0712c3343f2d51
fonttools==4.60.1
fqdn==1.5.1
frozenlist==1.8.0
fsspec==2025.10.0
gast==0.6.0
grpcio==1.76.0
h11==0.16.0
hf-xet==1.2.0
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==1.1.2
hypothesis==6.130.8
idna==3.11
importlib_metadata==8.7.0
iniconfig==2.3.0
intel-openmp==2021.4.0
ipykernel==7.1.0
ipython==9.7.0
ipython_pygments_lexers==1.1.1
isoduration==20.11.0
isort==7.0.0
jedi==0.19.2
Jinja2==3.1.6
joblib==1.5.2
json5==0.12.1
jsonpointer==3.0.0
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
jupyter-events==0.12.0
jupyter-lsp==2.3.0
jupyter_client==8.6.3
jupyter_core==5.9.1
jupyter_server==2.17.0
jupyter_server_terminals==0.5.3
jupyterlab==4.4.10
jupyterlab_code_formatter==3.0.2
jupyterlab_pygments==0.3.0
jupyterlab_server==2.28.0
jupyterlab_tensorboard_pro @ file:///builder/jupyterlab_tensorboard_pro-4.0.0-py2.py3-none-any.whl#sha256=56a183cc565c39b9d8448786f62d998b150b765f0302a950561771be261fafc9
jupytext==1.18.1
kiwisolver==1.4.9
lark==1.3.1
lazy_loader==0.4
librosa==0.11.0
lightning-thunder @ file:///opt/pytorch/lightning-thunder
lightning-utilities==0.15.2
lintrunner==0.12.7
llvmlite==0.45.1
looseversion==1.3.0
makefun==1.16.0
Markdown==3.10
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib==3.10.7
matplotlib-inline==0.2.1
mdit-py-plugins==0.5.0
mdurl==0.1.2
mistune==3.1.4
mkl==2021.1.1
mkl-devel==2021.1.1
mkl-include==2021.1.1
ml_dtypes==0.5.3
mock==5.2.0
mpmath==1.3.0
msgpack==1.1.2
multidict==6.7.0
multiprocess==0.70.18
mypy_extensions==1.1.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.5
ninja==1.13.0
notebook==7.4.7
notebook_shim==0.2.4
numba==0.62.1
numpy==2.1.0
nvfuser @ file:///opt/pytorch/fuser/python
nvidia-cudnn-frontend @ file:///opt/pytorch/lightning-thunder/tmp/cudnn_frontend
nvidia-dali-cuda130==1.52.0
nvidia-ml-py==13.580.82
nvidia-modelopt==0.37.0
nvidia-nvcomp-cu13==5.0.0.6
nvidia-nvimgcodec-cu13==0.6.1.37
nvidia-nvjpeg==13.0.1.86
nvidia-nvjpeg2k-cu13==0.9.0.43
nvidia-nvtiff-cu13==0.6.0.78
nvidia-resiliency-ext==0.4.1+cuda13
nvtx==0.2.13
onnx @ file:///opt/pytorch/pytorch/third_party/onnx
onnx-ir==0.1.12
onnxscript==0.5.6
opt_einsum==3.4.0
optree==0.17.0
packaging==25.0
pandas==2.3.3
pandocfilters==1.5.1
parso==0.8.5
pathspec==0.12.1
pexpect==4.9.0
pillow==12.0.0
platformdirs==4.5.0
pluggy==1.6.0
polygraphy==0.49.26
pooch==1.8.2
prometheus_client==0.23.1
prompt_toolkit==3.0.52
propcache==0.4.1
protobuf==6.33.0
psutil==7.1.3
ptyprocess==0.7.0
PuLP==3.3.0
pure_eval==0.2.3
pyarrow==22.0.0
pybind11==3.0.1
pybind11-global==3.0.1
pycocotools @ git+https://github.com/nvidia/cocoapi.git@08350a157b41f0755a536441b5abec89ab934c5b#subdirectory=PythonAPI
pycparser==2.23
pydantic==2.12.4
pydantic_core==2.41.5
Pygments==2.19.2
pyparsing==3.2.5
pyproject_hooks==1.2.0
pytest==8.1.1
pytest-flakefinder==1.1.0
pytest-rerunfailures==16.1
pytest-shard==0.1.2
pytest-xdist==3.8.0
python-dateutil==2.9.0.post0
python-json-logger==4.0.0
python_hostlist==2.3.0
pytokens==0.3.0
pytorch-triton @ file:///tmp/dist/pytorch_triton-3.5.0%2Bgitde3506d2-cp312-cp312-linux_x86_64.whl#sha256=1110d6511e80272112fb1accfd3d226099579675b07fcc5e70671d85aaa2e112
pytz==2025.2
PyYAML==6.0.3
pyzmq==27.1.0
referencing==0.37.0
regex==2025.11.3
requests==2.32.5
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rfc3987-syntax==1.1.0
rich==14.2.0
rpds-py==0.28.0
safetensors==0.6.2
scikit-learn==1.7.2
scipy==1.16.3
Send2Trash==1.8.3
setuptools==80.9.0
shellingham==1.5.4
shtab==1.7.2
six==1.16.0
sniffio==1.3.1
sortedcontainers==2.4.0
soundfile==0.13.1
soupsieve==2.8
soxr==1.0.0
stack-data==0.6.3
sympy==1.14.0
tabulate==0.9.0
tbb==2021.13.1
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorrt @ file:///workspace/TensorRT-10.14.1.48/python/tensorrt-10.14.1.48-cp312-none-linux_x86_64.whl#sha256=a5cf85f323da63a902f66869f5fbf07079bd1ca4e397b8810c1bf7cb4b19de76
terminado==0.18.1
threadpoolctl==3.6.0
timm==1.0.24
tinycss2==1.4.0
tokenizers==0.22.1
tomli==2.3.0
torch @ file:///opt/transfer/torch-2.10.0a0%2Bb558c986e8.nv25.11-38114660-cp312-cp312-linux_x86_64.whl#sha256=816a389a4bbbd1dd2b9c7c566cfd526292e8f56323a47baf2cb097d6a36752bb
torch_tensorrt @ file:///opt/pytorch/torch_tensorrt/dist/torch_tensorrt-2.10.0a0-cp312-cp312-linux_x86_64.whl#sha256=533fde0395adc39b6d1d3c0d43fd6eace6d5b7bc6c12471246f3ea9be0d1e541
torchao @ file:///opt/pytorch/ao
torchdata==0.11.0
torchprofile==0.0.4
torchtitan @ file:///opt/pytorch/torchtitan
torchvision @ file:///opt/transfer/torchvision-0.25.0a0%2B7a13ad0f-38114660-cp312-cp312-manylinux_2_28_x86_64.whl#sha256=f8262ef9514b0747c93c62d0a8fa29029d92cdafd3221438d3fca60cbbcc5a2d
tornado==6.5.2
tqdm==4.67.1
traitlets==5.14.3
transformer_engine @ file:///workspace/TransformerEngine
triton_kernels @ file:///tmp/dist/triton_kernels-1.0.0%2Bnv25.11-py3-none-any.whl#sha256=373a3a8cb00eb70ae55b2e797f5792e23552556814465f71c8c7297b4ed062e3
typeguard==4.4.4
typer-slim==0.20.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tyro==0.9.35
tzdata==2025.2
uri-template==1.3.0
urllib3==2.5.0
uv==0.9.8
wcwidth==0.2.14
webcolors==25.10.0
webencodings==0.5.1
websocket-client==1.9.0
Werkzeug==3.1.3
wheel==0.45.1
wrapt==2.0.1
xdoctest==1.0.2
xxhash==3.6.0
yarl==1.22.0
zipp==3.23.0
